@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="row">
    <center><div class="col-md-12">
        <div style="background-color: tomato; border-radios:32px; width: 320px; height: 300px;"></div>
        <br/>
         <div style="background-color: tomato; border-radios:32px; width: 320px; height: 300px;">
            <h1 class="text-align-center "> Title For Container</h1>
            <br/>
            <p>larffefergegvergerg</p>
            <p>ggergergergrgeger</p>
            <br/>
            <a href="#" class=" btn btn-success">Add Card</a>
         </div></center>
    </div>
   
</div>
